.main-table {
    &__block {}

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        background-color: $blue;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 14px;

        @include tablet {
            display: none;
        }
    }

    &__cell {
        width: 100%;
        background-color: #e6e6e6;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: $dark-blue;
        font-weight: 500;
        padding: 14px;
        margin-top: 10px;

        @include tablet {
            flex-direction: column;
            font-size: 15px;
        }

        &:hover {
            color: white;
            background-color: $dark-blue;
        }
    }

    &__name {
        &_main {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                width: 100%;

            }
        }

        &_secondary {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet {
                display: flex;
                width: 100%;
            }
        }

        &_mobile {
            display: none;

            @include tablet {
                display: inline-block;
                margin-right: 10px;
                color: #3f3f3f;
                font-weight: 400;

                &::after {
                    content: ":";
                }
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $red;
        padding: 25px 40px;
        color: white;

        @include mobile {
            flex-direction: column;

            .btn {
                margin-top: 20px;
            }
        }

        &_subtitle {
            background-color: $blue;
            padding: 15px 40px;

            p {
                color: white;
                margin: 8px 0;
                padding: 0;

                &::before {
                    content: "*";
                }
            }

            &_second {
                background-color: #ccc;

                p {
                    color: $dark-blue;
                }
            }
        }

    }
}

.main-options {
    &__table {
        .main-table {
            &__cell {
                margin-top: 0;

                &:hover {
                    color: $dark-blue;
                    background-color: #f3f3f3;
                    cursor: pointer;
                }

                div {
                    &:last-child {
                        color: $red;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__addmore {
        height: 0;
        overflow: hidden;
        transition: 300ms ease;

        &.active {
            height: auto;
        }
    }
}

.wrapper {
    .tab-button {
        &.active {
            background-color: $red;
            color: white;

            &:focus {
                background-color: $red;
                color: white;
                border: 1px solid $red;
            }
        }
    }

    .content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.main-steps {
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        width: 30%;
        padding: 20px;
        display: flex;
        background-color: rgb(236, 236, 236);
        margin-bottom: 15px;

        @include tablet {
            width: 100%;
        }
    }

    &__number {
        font-size: 60px;
        line-height: 1;
        margin-right: 15px;
        color: $dark-blue;
        font-weight: bold;

        @include mobile {
            font-size: 45px;
        }
    }

    &__text {
        a {
            color: $red;
        }
    }

}