.btn {
    border-radius: 0;

    &-custom {
        background-color: $dark-blue;
        color: white;

        &-red {
            background-color: $red;
            color: white;

            &:focus {
                background-color: $red;
                color: white;
                border: 1px solid $red;
            }
        }
    }

}