.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid $blue;
    position: relative;

    &::after {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -20px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -25px;
}