<footer class="footer mt-5">
    <div class="container">
        <div class="footer__block">
            <div class="footer__logo mb-5">
                <h4 class="main-title main-title-small footer__title">О нас</h4>
                <div class="header__logo">
                    <span>Logo</span>
                </div>
                <div class="d-flex flex-column">
                    <div class="footer__link" href="#">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>г. Москва, улица Свободы, 35с17</span>
                    </div>
                    <div class="footer__link" href="#">
                        <i class="bi bi-clock-fill"></i>
                        <span>Пн-Вс | 9:00 - 21:00</span>
                    </div>
                    <a href=#" class="footer__link">
                        <i class="bi bi-telegram"></i>
                        <span>Telegram: @chip-tuning</span>
                    </a>
                    <!-- <a class="footer__link" href="#">
              <i class="bi bi-envelope-fill"></i>
              <span>info@mail.ru</span>
            </a> -->
                    <a class="footer__link" href="#">
                        <i class="bi bi-telephone-fill"></i>
                        <span>+7 999 999 99 99</span>
                    </a>
                </div>

            </div>
            <div class="footer__menu mb-5">
                <h4 class="main-title main-title-small footer__title">Меню</h4>
                <ul class="footer__menu_list">
                    <li><a href="#">ЧИП ТЮНИНГ</a></li>
                    <li><a href="#">О НАС</a></li>
                    <li><a href="#">ОТЗЫВЫ</a></li>
                    <li><a href="#">БЛОГ</a></li>
                    <li><a href="#">СКИДКИ</a></li>
                    <li><a href="#">ВИДЕО</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="footer__links mb-5">
                <h4 class="main-title main-title-small footer__title">Правовая информация</h4>
                <ul class="footer__links_list">
                    <li><a href="#">Договор-оферта</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Согласие</a></li>
                </ul>
                <p class="mt-4">ОГРН 5177746112363 ИНН 9715308022</p>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p>© 2010 - 2022 АВТОСЕРВИС Чип-тюнинг</p>
        </div>
    </div>
</footer>